---
layout: default
title: Jiarui Fang
---
<div><!-- Do I want to show a pic on the phone screen?-->
<div class="rightphoto"><img src="assets/img/fangjiaruiv3.jpeg" alt="photo" width="200px" /></div>
<div class="leftpad">
<h3>Jiarui Fang (方佳瑞)</h3>
<h5><a href="mailto:fang_jiarui@163.com">fang_jiarui AT 163 dot com</a></h5>
<p>I am currently a senior engineer at Wechat AI, Tencent in Beijing.
  My work includes development of the WeChat input method, the WeChat Open Diague Platform as well as the WeChat Translation System.
  I am the author of <a href="https://github.com/Tencent/TurboTransformers">TurboTransformers</a>, a fast runtime for transformer inference on CPU and GPU.
</p>
<p>
  I received a Ph.D. in Computer Science from Tsinghua University at 2019.
  My advisors are Prof. <a href="http://www.cs.tsinghua.edu.cn/publish/csen/4623/2010/20101224195554390212530/20101224195554390212530_.html">Guangwen Yang</a> and Prof. <a href="http://47.94.243.94/mediawiki/index.php/Haohuan_Fu">Haohuan Fu</a>. 
  My research focused on applying High-Performance Computing (HPC) for scientific applications. 
  Two wonderful experiences outside campus enriched my Ph.D. study.
  I worked as a research scientist at the National Supercomputing Center in Wuxi from 2016 to 2019.
  I served as a visiting scholar under supervised of <a href="http://www.stat.ucdavis.edu/~chohsieh/">Cho-Jui Hsieh</a> at the University of California, Davis, from 2018 to 2019.
</p>
<p>
  I enjoy sports. 
  My hobbies include jogging, football, swimming, and table tennis. 
  I am a billiards fan and I won the bronze medal in the WXG Beijing League 2020. 
  I am also the organizer of a table football league in my office building.
</p>
</div>
</div>
<p>&nbsp;</p>
<!--<a href="projects.html"> [Unpublished Projects]</a>-->
<p>&nbsp;&nbsp;</p>
<!--
 *** Software ***

<h3>
	<a name='software'></a> Software 
</h3>

{% include software.html %}
--><!--
 *** Teaching ***

<h3>
	<a name='teaching'></a> Teaching (GSI)
</h3>

{% include teaching.html %}
-->
