---
layout: default
title: Jiarui Fang
---
<div>
  <!-- Do I want to show a pic on the phone screen?-->
  <div class = "rightphoto">
    <img src="assets/img/fangjiaruiv3.jpeg" alt="photo" width="200px"/>
  </div>
    
  <div class = "leftpad">
    <h3>
      Jiarui Fang	
    	(方佳瑞<a href="http://en.wikipedia.org/wiki/Chinese_character"><i class="icon-question-sign"></i></a>)
    </h3>
    <h5>
    <a href="mailto:fang_jiarui@163.com">fang_jiarui AT 163 dot com</a>
    </h5>  
    <p>
    I am currently a Ph.D. candidate at Department of Computer Science of TsingHua University, advised by Prof. Guangwen Yang and Prof. Haohuan Fu.
    </p>
    <p>
    I was born in Shenyang City, which located in the north-east of China. I went to Beijing in 2010 and obtained my B.S. in Computer Science at Beijing University of Posts and Telecommunications. Since 2014, I have been a PH.D candidate in Tsinghua University.
    <p>
    <p>
    I like reading books. My essays and book reviews can be referred in my blogs.
    <p>

  </div>

</div>


<!--
 *** Research ***
-->
<div>
<h3>
	<a name='research'></a> Research 
</h3>
<p>
  My current research topics include:
  <ul>
      <li> Distributed Deep Learning Framework Design </br>
      <li> High Performance Computing </br>
      <li> Heterogeneous Accelerator Applications
  </ul>
</p>
</div>


<!--
 *** Publications ***
-->


<!-- <p> (Most recent publications to be added) </p> -->
<h3>
  <a name='publications'></a> Academic Publications 
</h3>

  <!-- Links to: <a href="publications.html">[Full List]</a> -->
  <!-- <a href="http://scholar.google.com/citations?user=mu5Y2rYAAAAJ&hl=en" target="_blank">[Google Scholar]</a> -->

{% include pub_highlight.html %}





<!--<a href="projects.html"> [Unpublished Projects]</a>-->

<!--
 *** Software ***

<h3>
	<a name='software'></a> Software 
</h3>

{% include software.html %}
-->

<!--
 *** Teaching ***

<h3>
	<a name='teaching'></a> Teaching (GSI)
</h3>

{% include teaching.html %}
-->